body {
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: aqua;
  color: white;
  border: none;
  cursor: pointer;
}

#weatherInfo {
  margin-top: 20px;
}
